.whatsapp-link {
    position: fixed;
    bottom: 60px;
    right: 40px;
    z-index: 50;
    transition: bottom 0.3s ease;
}

.whatsapp-icon {
    width: 55px;
    height: 55px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 580px) {
    .whatsapp-link {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 50;
        transition: bottom 0.3s ease-in-out;
    }
}