

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

/* Theme for Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

/* Apply general body styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;  /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box;  /* Ensure consistent box sizing */
  height: 100%;  /* Ensure the body takes the full viewport height */
  overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Ensure that the html tag doesn't overflow */
html {
  height: 100%; /* Full height */
  overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Utility classes for overflow and height management */
@layer components {
  .navbar__link:hover{
    color: #ff8f96;
    transition: all 0.4s;
  }
  .navbar__link::after{
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }
  .navbar__link:hover::after{
    scale: 1;
  }
}

.bg-radial-gradient {
  background: radial-gradient(circle, #f4dce6, white);
}

@layer components {
  .product-link:hover {
    color: #7b1f4b; /* Change to the desired color */
    transition: all 0.4s;
  }

  .product-link::after {
    position: absolute;
    content: "";
    background-color: #7b1f4b; /* Change to the desired color */
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .product-link:hover::after {
    scale: 1;
  }
}


/* globals.css or a separate CSS file */
@layer components {
  .product-link:hover {
    box-shadow: 0 4px 6px rgba(212, 116, 158, 0.5); /* Custom shadow with rgba color #d4749e */
    transition: all 0.3s;
  }
}
